:root {
    --background-colour: #2e3146;
    --text-colour: #fff;
    --primary-colour: #02ee5dee;
    --primary-hover-colour: #108d40ee;
    --accent-colour: #3e436b;
    --secondary-colour: #2b2e3f;
    --border-colour: #242635;
    --secondary-text-colour: #555;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1.5rem;
}

ul {
    list-style-type: none;
}

li {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--text-colour);
}

h1,
.h2 {
    color: var(--primary-colour);
}

.h2 {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

p {
    margin: .5rem;
}